<h1> This application Name Member Only Means that only logged in members can see the athor of the post</h1>
<h1> If a User is not logged in they dould the author name as Anonymous</h1>

<%= link_to "Posts" , posts_path %>