<h1>Posts List</h1>

<table border = 1>
  <thead>
    <tr>
      <th>Name</th>
      <th>Body</th>
      <th>Status</th>
      <th>Written By</th>
    </tr>
  </thead>

  <% @posts.each do |p| %>
    <tr>
      <td><%= p.title %></td>
      
      <td><%= p.body %></td>
      <td><%= p.status %></td>
      <% if user_signed_in? %>
        <td><%= p.user.email %></td>
      <% else %>
        <td>Anonymous</p>
        <% end %>
    </tr>
  <% end %>
</table>
